<a href="https://colab.research.google.com/github/Adityapratapsingh28/Data-Preprocessing-Data-Cleaning/blob/main/BIOTECH_DC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Libraries

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, classification_report
import seaborn as sns
import matplotlib.pyplot as plt

## Loading Dataset

In [ ]:
data_filename = '/content/train10k.csv'

In [ ]:
import pandas as pd
df = pd.read_csv(data_filename)

In [ ]:
df

,name,cls,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,C1=CC=C(C=C1)N(C2=CC=CC=C2)C(=O)N3C=CN=N3,1,NaN,NaN,0,0,26.738640,2.408266,4.798534,26.738640,...,9.775938,66.510483,264.101111,8.253160,764.0,28.0,102.0,119.0,5.055556,4.527778
1,C1COCCN1C(=O)N2C=CN=N2,1,NaN,NaN,0,0,17.305419,2.317107,4.585026,17.305419,...,9.184920,56.970810,182.080376,7.916538,247.0,15.0,64.0,73.0,3.583333,2.972222
2,C1CCN(C1)C(=O)N2N=CC(=N2)C3=CC=C(C=C3)C4=CC=CC=C4,1,NaN,NaN,0,0,32.588813,2.408273,4.741441,32.588813,...,10.003559,73.928484,318.148061,7.574954,1509.0,34.0,128.0,151.0,5.777778,5.277778
3,COC1=CC2=C(C=C1)C=C(C=C2)C3=NN(N=C3)C(=O)N4CCCC4,1,NaN,NaN,0,0,32.315833,2.434854,4.827387,32.315833,...,10.098849,74.146649,322.142976,7.670071,1453.0,36.0,130.0,155.0,6.388889,5.277778
4,CC(C)(CCC1(C(CCC2=C1N=C3C(=C2OC)C=CO3)O)OC)O,1,NaN,NaN,0,0,29.954829,2.574554,5.129759,29.954829,...,10.424749,72.979657,335.173273,6.840271,1176.0,44.0,132.0,161.0,9.291667,5.236111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8401,CC1=C(C=CO1)C2=NN=C(N2C3=CC(=CC=C3)OC)SCC(=O)N...,0,NaN,NaN,0,0,34.834862,2.488174,4.857655,34.834862,...,10.179262,79.041118,400.156912,7.695325,2056.0,40.0,146.0,169.0,10.201389,6.097222
8402,CCCCCCC1=C(C2=CC=CC=C2NC1=O)O,0,NaN,NaN,0,0,22.898286,2.435006,4.870012,22.898286,...,9.734418,50.812892,245.141579,6.625448,640.0,27.0,88.0,102.0,6.055556,4.194444
8403,COC1=CC(=C(C=C1)OC)S(=O)(=O)N2CCC(CC2)C(=O)NCC...,0,NaN,NaN,0,0,37.713522,2.465979,4.931957,37.713522,...,10.270662,64.465894,418.156243,7.602841,2514.0,47.0,148.0,173.0,9.840278,6.555556
8404,CCOCC(=O)NC1=NN=C(S1)CC2=CC(=C(C=C2)OC)OC,0,NaN,NaN,0,0,29.284322,2.351370,4.669445,29.284322,...,9.708628,70.027547,337.109627,8.026420,1417.0,30.0,110.0,124.0,7.916667,5.444444
8405,CCOC1=CC2=C(C=C1)NC=C(C2=O)C(=O)O,0,NaN,NaN,1,0,21.355985,2.434632,4.869264,21.355985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Preparation And Cleaning

In [ ]:
 # checking columns
 df.columns

Index(['name', 'cls', 'ABC', 'ABCGG', 'nAcid', 'nBase', 'SpAbs_A', 'SpMax_A',
       'SpDiam_A', 'SpAD_A',
       ...
       'SRW10', 'TSRW10', 'MW', 'AMW', 'WPath', 'WPol', 'Zagreb1', 'Zagreb2',
       'mZagreb1', 'mZagreb2'],
      dtype='object', length=1615)

In [ ]:
# checking length of the columns
len(df.columns)

1615

In [ ]:
# checking rows and column
df.shape

(8406, 1615)

In [ ]:
# complete information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8406 entries, 0 to 8405
Columns: 1615 entries, name to mZagreb2
dtypes: float64(1574), int64(40), object(1)
memory usage: 103.6+ MB

In [ ]:
df.info

<bound method DataFrame.info of                                                    name  cls  ABC  ABCGG  \
0             C1=CC=C(C=C1)N(C2=CC=CC=C2)C(=O)N3C=CN=N3    1  NaN    NaN
1                                C1COCCN1C(=O)N2C=CN=N2    1  NaN    NaN
2     C1CCN(C1)C(=O)N2N=CC(=N2)C3=CC=C(C=C3)C4=CC=CC=C4    1  NaN    NaN
3      COC1=CC2=C(C=C1)C=C(C=C2)C3=NN(N=C3)C(=O)N4CCCC4    1  NaN    NaN
4          CC(C)(CCC1(C(CCC2=C1N=C3C(=C2OC)C=CO3)O)OC)O    1  NaN    NaN
...                                                 ...  ...  ...    ...
8401  CC1=C(C=CO1)C2=NN=C(N2C3=CC(=CC=C3)OC)SCC(=O)N...    0  NaN    NaN
8402                      CCCCCCC1=C(C2=CC=CC=C2NC1=O)O    0  NaN    NaN
8403  COC1=CC(=C(C=C1)OC)S(=O)(=O)N2CCC(CC2)C(=O)NCC...    0  NaN    NaN
8404          CCOCC(=O)NC1=NN=C(S1)CC2=CC(=C(C=C2)OC)OC    0  NaN    NaN
8405                  CCOC1=CC2=C(C=C1)NC=C(C2=O)C(=O)O    0  NaN    NaN

      nAcid  nBase    SpAbs_A   SpMax_A  SpDiam_A     SpAD_A  ...      SRW10  \
0         0      0  26.738640  2.408266  4.798534  26.738640  ...   9.775938
1         0      0  17.305419  2.317107  4.585026  17.305419  ...   9.184920
2         0      0  32.588813  2.408273  4.741441  32.588813  ...  10.003559
3         0      0  32.315833  2.434854  4.827387  32.315833  ...  10.098849
4         0      0  29.954829  2.574554  5.129759  29.954829  ...  10.424749
...     ...    ...        ...       ...       ...        ...  ...        ...
8401      0      0  34.834862  2.488174  4.857655  34.834862  ...  10.179262
8402      0      0  22.898286  2.435006  4.870012  22.898286  ...   9.734418
8403      0      0  37.713522  2.465979  4.931957  37.713522  ...  10.270662
8404      0      0  29.284322  2.351370  4.669445  29.284322  ...   9.708628
8405      1      0  21.355985  2.434632  4.869264  21.355985  ...        NaN

         TSRW10          MW       AMW   WPath  WPol  Zagreb1  Zagreb2  \
0     66.510483  264.101111  8.253160   764.0  28.0    102.0    119.0
1     56.970810  182.080376  7.916538   247.0  15.0     64.0     73.0
2     73.928484  318.148061  7.574954  1509.0  34.0    128.0    151.0
3     74.146649  322.142976  7.670071  1453.0  36.0    130.0    155.0
4     72.979657  335.173273  6.840271  1176.0  44.0    132.0    161.0
...         ...         ...       ...     ...   ...      ...      ...
8401  79.041118  400.156912  7.695325  2056.0  40.0    146.0    169.0
8402  50.812892  245.141579  6.625448   640.0  27.0     88.0    102.0
8403  64.465894  418.156243  7.602841  2514.0  47.0    148.0    173.0
8404  70.027547  337.109627  8.026420  1417.0  30.0    110.0    124.0
8405        NaN         NaN       NaN     NaN   NaN      NaN      NaN

       mZagreb1  mZagreb2
0      5.055556  4.527778
1      3.583333  2.972222
2      5.777778  5.277778
3      6.388889  5.277778
4      9.291667  5.236111
...         ...       ...
8401  10.201389  6.097222
8402   6.055556  4.194444
8403   9.840278  6.555556
8404   7.916667  5.444444
8405        NaN       NaN

[8406 rows x 1615 columns]>

In [ ]:
# describing daatset in a easy manner taking mathematical operation
df.describe()

,cls,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
count,8406.000000,0.0,0.0,8406.000000,8406.000000,7993.000000,7993.000000,7993.000000,7993.000000,7993.000000,...,8405.000000,8405.000000,8405.000000,8405.000000,8.405000e+03,8405.000000,8405.000000,8405.000000,8106.000000,8405.000000
mean,0.571021,NaN,NaN,0.183440,0.206876,33.966919,2.444345,4.829124,33.966919,1.287962,...,10.109320,71.117671,376.161960,8.224114,3.220486e+08,40.709102,137.489114,161.365616,8.605396,5.832489
std,0.494960,NaN,NaN,0.543759,0.512456,9.197006,0.084608,0.157665,9.197006,0.039774,...,0.369204,11.644612,100.278970,1.139396,2.486675e+09,14.405008,39.503924,48.393491,2.843479,1.556426
min,0.000000,NaN,NaN,0.000000,0.000000,10.891331,2.086598,4.173197,10.891331,1.093158,...,8.266421,37.975562,126.031694,5.522602,8.200000e+01,7.000000,42.000000,44.000000,2.222222,2.055556
25%,0.000000,NaN,NaN,0.000000,0.000000,28.137303,2.393200,4.727428,28.137303,1.264206,...,9.901936,63.355179,313.077264,7.461518,1.112000e+03,32.000000,112.000000,130.000000,6.868056,4.861111
50%,1.000000,NaN,NaN,0.000000,0.000000,33.586755,2.441344,4.827935,33.586755,1.291720,...,10.128350,71.853710,370.168128,8.082969,1.847000e+03,40.000000,136.000000,158.000000,8.277778,5.750000
75%,1.000000,NaN,NaN,0.000000,0.000000,38.899864,2.493460,4.920157,38.899864,1.315243,...,10.337896,78.727454,428.205970,8.795889,2.874000e+03,47.000000,158.000000,186.000000,9.861111,6.638889
max,1.000000,NaN,NaN,4.000000,5.000000,110.479287,2.896909,5.594784,110.479287,1.391684,...,11.621914,147.101644,1254.628475,23.651185,1.300000e+11,178.000000,480.000000,581.000000,39.166667,19.472222

In [ ]:
# checking which values is null / false = non empty / true = empty value
df.isna()

,name,cls,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8401,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8402,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8403,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8404,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8405,False,False,True,True,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
#percentage of missing values per column
missing_percentages = df.isna().sum().sort_values(ascending=False) / len(df)
missing_percentages

MINssBe     1.0
VR1_Dt      1.0
MAXssBe     1.0
MAXsLi      1.0
MINsLi      1.0
           ...
AATSC4se    0.0
AATSC5se    0.0
AATSC6se    0.0
AATSC0pe    0.0
name        0.0
Length: 1615, dtype: float64

In [ ]:
#removing zero values
missing_percentages[missing_percentages !=0]

MINssBe    1.000000
VR1_Dt     1.000000
MAXssBe    1.000000
MAXsLi     1.000000
MINsLi     1.000000
             ...
NaaaC      0.000119
NssssC     0.000119
NsNH3      0.000119
NsNH2      0.000119
NssNH2     0.000119
Length: 1151, dtype: float64

In [ ]:
# Assuming missing_percentages is a Series containing missing percentages for each column
columns_with_missing_percent_1= missing_percentages[missing_percentages == 1].index.tolist()

# Now columns_with_missing_percent_1 contains the names of columns with missing percentage equal to 1
print(columns_with_missing_percent_1)

['MINssBe', 'VR1_Dt', 'MAXssBe', 'MAXsLi', 'MINsLi', 'SpAbs_Dt', 'SpMax_Dt', 'SpDiam_Dt', 'SpAD_Dt', 'SpMAD_Dt', 'LogEE_Dt', 'SM1_Dt', 'VE1_Dt', 'VE2_Dt', 'VE3_Dt', 'VR2_Dt', 'MAXsssB', 'VR3_Dt', 'DetourIndex', 'MINssssPb', 'MINsssPbH', 'MINssPbH2', 'MINsPbH3', 'MINssssSn', 'MINsssSnH', 'MINssSnH2', 'MINsSnH3', 'MINddssSe', 'MINdssSe', 'MINaaSe', 'MAXssssBe', 'MAXssssPb', 'MINdSe', 'MAXssssGe', 'MAXsssSnH', 'MAXssSnH2', 'MAXsSnH3', 'MAXddssSe', 'MAXdssSe', 'MAXaaSe', 'MAXssSe', 'MAXdSe', 'MAXsSeH', 'MAXsssssAs', 'MAXsssAs', 'MAXssAsH', 'MAXsAsH2', 'MAXsssGeH', 'MAXsssPbH', 'MAXssGeH2', 'MAXsGeH3', 'MAXsssssP', 'MAXsssP', 'MAXssPH', 'MAXsPH2', 'MAXsssSiH', 'MAXssSiH2', 'MAXsSiH3', 'MAXsNH3', 'MAXssssSn', 'MAXsPbH3', 'MAXssPbH2', 'MINssSe', 'MAXssBH', 'MINsSeH', 'MINsSiH3', 'MINsssssP', 'MINsssB', 'MINssBH', 'MINsssP', 'MINssssBe', 'ABCGG', 'ABC', 'MINssPH', 'MINsPH2', 'MINsssSiH', 'MINssSiH2', 'MINsAsH2', 'MINsssGeH', 'MINsssAs', 'MINssAsH', 'MINsssssAs', 'MINssssGe', 'MINsNH3', 'MINssGeH2', 'MINsGeH3']

In [ ]:
df.drop( columns = columns_with_missing_percent_1, inplace=True)

In [ ]:
df

,name,cls,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,C1=CC=C(C=C1)N(C2=CC=CC=C2)C(=O)N3C=CN=N3,1,0,0,26.738640,2.408266,4.798534,26.738640,1.336932,3.928780,...,9.775938,66.510483,264.101111,8.253160,764.0,28.0,102.0,119.0,5.055556,4.527778
1,C1COCCN1C(=O)N2C=CN=N2,1,0,0,17.305419,2.317107,4.585026,17.305419,1.331186,3.494018,...,9.184920,56.970810,182.080376,7.916538,247.0,15.0,64.0,73.0,3.583333,2.972222
2,C1CCN(C1)C(=O)N2N=CC(=N2)C3=CC=C(C=C3)C4=CC=CC=C4,1,0,0,32.588813,2.408273,4.741441,32.588813,1.357867,4.127080,...,10.003559,73.928484,318.148061,7.574954,1509.0,34.0,128.0,151.0,5.777778,5.277778
3,COC1=CC2=C(C=C1)C=C(C=C2)C3=NN(N=C3)C(=O)N4CCCC4,1,0,0,32.315833,2.434854,4.827387,32.315833,1.346493,4.130696,...,10.098849,74.146649,322.142976,7.670071,1453.0,36.0,130.0,155.0,6.388889,5.277778
4,CC(C)(CCC1(C(CCC2=C1N=C3C(=C2OC)C=CO3)O)OC)O,1,0,0,29.954829,2.574554,5.129759,29.954829,1.248118,4.119938,...,10.424749,72.979657,335.173273,6.840271,1176.0,44.0,132.0,161.0,9.291667,5.236111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8401,CC1=C(C=CO1)C2=NN=C(N2C3=CC(=CC=C3)OC)SCC(=O)N...,0,0,0,34.834862,2.488174,4.857655,34.834862,1.244102,4.255231,...,10.179262,79.041118,400.156912,7.695325,2056.0,40.0,146.0,169.0,10.201389,6.097222
8402,CCCCCCC1=C(C2=CC=CC=C2NC1=O)O,0,0,0,22.898286,2.435006,4.870012,22.898286,1.272127,3.799830,...,9.734418,50.812892,245.141579,6.625448,640.0,27.0,88.0,102.0,6.055556,4.194444
8403,COC1=CC(=C(C=C1)OC)S(=O)(=O)N2CCC(CC2)C(=O)NCC...,0,0,0,37.713522,2.465979,4.931957,37.713522,1.300466,4.282157,...,10.270662,64.465894,418.156243,7.602841,2514.0,47.0,148.0,173.0,9.840278,6.555556
8404,CCOCC(=O)NC1=NN=C(S1)CC2=CC(=C(C=C2)OC)OC,0,0,0,29.284322,2.351370,4.669445,29.284322,1.273231,4.032060,...,9.708628,70.027547,337.109627,8.026420,1417.0,30.0,110.0,124.0,7.916667,5.444444
8405,CCOC1=CC2=C(C=C1)NC=C(C2=O)C(=O)O,0,1,0,21.355985,2.434632,4.869264,21.355985,1.256234,3.752485,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
missing_percentages = df.isna().sum().sort_values(ascending=False) / len(df)
missing_percentages

MINssssSi    0.999881
MINsssdAs    0.999881
MINsSH       0.999881
MAXssssB     0.999881
MAXsSH       0.999881
               ...
AATSC4se     0.000000
AATSC5se     0.000000
AATSC6se     0.000000
AATSC0pe     0.000000
name         0.000000
Length: 1529, dtype: float64

In [ ]:
missing_percentages[missing_percentages > 0.7]

MINssssSi    0.999881
MINsssdAs    0.999881
MINsSH       0.999881
MAXssssB     0.999881
MAXsSH       0.999881
               ...
MINaaO       0.815132
MINsOH       0.805020
MAXsOH       0.805020
MDEN-33      0.747204
MDEO-22      0.726148
Length: 71, dtype: float64

In [ ]:
df=df.drop(columns=['name'])

## Cleaned Dataset

In [ ]:
df

,cls,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,VE1_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,1,0,0,26.738640,2.408266,4.798534,26.738640,1.336932,3.928780,4.014649,...,9.775938,66.510483,264.101111,8.253160,764.0,28.0,102.0,119.0,5.055556,4.527778
1,1,0,0,17.305419,2.317107,4.585026,17.305419,1.331186,3.494018,3.384371,...,9.184920,56.970810,182.080376,7.916538,247.0,15.0,64.0,73.0,3.583333,2.972222
2,1,0,0,32.588813,2.408273,4.741441,32.588813,1.357867,4.127080,4.392190,...,10.003559,73.928484,318.148061,7.574954,1509.0,34.0,128.0,151.0,5.777778,5.277778
3,1,0,0,32.315833,2.434854,4.827387,32.315833,1.346493,4.130696,4.466463,...,10.098849,74.146649,322.142976,7.670071,1453.0,36.0,130.0,155.0,6.388889,5.277778
4,1,0,0,29.954829,2.574554,5.129759,29.954829,1.248118,4.119938,4.177431,...,10.424749,72.979657,335.173273,6.840271,1176.0,44.0,132.0,161.0,9.291667,5.236111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8401,0,0,0,34.834862,2.488174,4.857655,34.834862,1.244102,4.255231,4.181890,...,10.179262,79.041118,400.156912,7.695325,2056.0,40.0,146.0,169.0,10.201389,6.097222
8402,0,0,0,22.898286,2.435006,4.870012,22.898286,1.272127,3.799830,3.555146,...,9.734418,50.812892,245.141579,6.625448,640.0,27.0,88.0,102.0,6.055556,4.194444
8403,0,0,0,37.713522,2.465979,4.931957,37.713522,1.300466,4.282157,4.143678,...,10.270662,64.465894,418.156243,7.602841,2514.0,47.0,148.0,173.0,9.840278,6.555556
8404,0,0,0,29.284322,2.351370,4.669445,29.284322,1.273231,4.032060,4.142838,...,9.708628,70.027547,337.109627,8.026420,1417.0,30.0,110.0,124.0,7.916667,5.444444
8405,0,1,0,21.355985,2.434632,4.869264,21.355985,1.256234,3.752485,3.657279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
!pip install Pandas_summary

Requirement already satisfied: Pandas_summary in /usr/local/lib/python3.10/dist-packages (0.2.0)
Requirement already satisfied: datatile in /usr/local/lib/python3.10/dist-packages (from Pandas_summary) (1.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from Pandas_summary) (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from Pandas_summary) (1.5.3)
Requirement already satisfied: traceml<1.1 in /usr/local/lib/python3.10/dist-packages (from datatile->Pandas_summary) (1.0.8)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->Pandas_summary) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->Pandas_summary) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->Pandas_summary) (1.16.0)

In [ ]:
from pandas_summary import DataFrameSummary
dfs = DataFrameSummary(df)
dfs.columns_stats

,cls,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,VE1_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
counts,8406,8406,8406,7993,7993,7993,7993,7993,7993,7993,...,8405,8405,8405,8405,8405,8405,8405,8405,8106,8405
uniques,2,5,6,7458,7406,7413,7458,7461,7450,7458,...,6127,7816,6418,6358,3911,116,142,313,856,603
missing,0,0,0,413,413,413,413,413,413,413,...,1,1,1,1,1,1,1,1,300,1
missing_perc,0%,0%,0%,4.91%,4.91%,4.91%,4.91%,4.91%,4.91%,4.91%,...,0.01%,0.01%,0.01%,0.01%,0.01%,0.01%,0.01%,0.01%,3.57%,0.01%
types,bool,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric

In [ ]:
# Assuming df is your dataset
df.fillna(0, inplace=True)

In [ ]:
X = df.drop("cls", axis=1)
y = df["cls"]

In [ ]:
df['cls'].value_counts()

1    4800
0    3606
Name: cls, dtype: int64